<div class="library">
  <!-- https://github.com/bumptech/glide/blob/master/LICENSE -->
  <h1 class="title">${library.name}</h1>
  <p class="notice">${library.copyrightStatement.replaceAll("\n", "<br/>")}</p>
  <% print library.url.isEmpty() ? "" : """<p><a href="${library.url}">${library.url}</a></p>""" %>
  <input type="checkbox"><label></label>
  <div class="license">
    <h2>BSD, part MIT and Apache 2.0 License</h2>
    <p>License for everything not in third_party and not otherwise marked:</p>
    <p>Copyright 2014 Google, Inc. All rights reserved.</p>
    <p>
      Redistribution and use in source and binary forms, with or without modification, are
      permitted provided that the following conditions are met:
    </p>
    <ol>
      <li>
        Redistributions of source code must retain the above copyright notice, this list of
        conditions and the following disclaimer.
      </li>
      <li>
        Redistributions in binary form must reproduce the above copyright notice, this list
        of conditions and the following disclaimer in the documentation and/or other materials
        provided with the distribution.
      </li>
    </ol>
    <p>
      THIS SOFTWARE IS PROVIDED BY GOOGLE, INC. ``AS IS'' AND ANY EXPRESS OR IMPLIED
      WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND
      FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT SHALL GOOGLE, INC. OR
      CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR
      CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR
      SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON
      ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING
      NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF
      ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
    </p>
    <p>
      The views and conclusions contained in the software and documentation are those of the
      authors and should not be interpreted as representing official policies, either expressed
      or implied, of Google, Inc.
    </p>
    <hr/>
    <p>License for third_party/disklrucache:</p>
    <p>
      Copyright 2012 Jake Wharton<br/>
      Copyright 2011 The Android Open Source Project
    </p>
    <p>
      Licensed under the Apache License, Version 2.0 (the "License");
      you may not use this file except in compliance with the License.
      You may obtain a copy of the License at
    </p>
    <blockquote>http://www.apache.org/licenses/LICENSE-2.0</blockquote>
    <p>
      Unless required by applicable law or agreed to in writing, software
      distributed under the License is distributed on an "AS IS" BASIS,
      WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
      See the License for the specific language governing permissions and
      limitations under the License.
    </p>
    <hr/>
    <p>License for third_party/gif_decoder:</p>
    <p>Copyright (c) 2013 Xcellent Creations, Inc.</p>
    <p>
      Permission is hereby granted, free of charge, to any person obtaining
      a copy of this software and associated documentation files (the
      "Software"), to deal in the Software without restriction, including
      without limitation the rights to use, copy, modify, merge, publish,
      distribute, sublicense, and/or sell copies of the Software, and to
      permit persons to whom the Software is furnished to do so, subject to
      the following conditions:
    </p>
    <p>
      The above copyright notice and this permission notice shall be
      included in all copies or substantial portions of the Software.
    </p>
    <p>
      THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND,
      EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF
      MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND
      NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE
      LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION
      OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION
      WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.
    </p>
    <hr/>
    <p>
      License for third_party/gif_encoder/AnimatedGifEncoder.java and
      third_party/gif_encoder/LZWEncoder.java:
    </p>
    <p>
      No copyright asserted on the source code of this class. May be used for any
      purpose, however, refer to the Unisys LZW patent for restrictions on use of
      the associated LZWEncoder class. Please forward any corrections to
      kweiner@fmsware.com.
    </p>
    <p>License for third_party/gif_encoder/NeuQuant.java</p>
    <p>Copyright (c) 1994 Anthony Dekker</p>
    <p>
      NEUQUANT Neural-Net quantization algorithm by Anthony Dekker, 1994. See
      "Kohonen neural networks for optimal colour quantization" in "Network:
      Computation in Neural Systems" Vol. 5 (1994) pp 351-367. for a discussion of
      the algorithm.
    </p>
    <p>
      Any party obtaining a copy of these files from the author, directly or
      indirectly, is granted, free of charge, a full and unrestricted irrevocable,
      world-wide, paid up, royalty-free, nonexclusive right and license to deal in
      this software and documentation files (the "Software"), including without
      limitation the rights to use, copy, modify, merge, publish, distribute,
      sublicense, and/or sell copies of the Software, and to permit persons who
      receive copies from any such party to do so, with the only requirement being
      that this copyright notice remain intact.
    </p>
  </div>
</div>
